---
import Layout from "@/layouts/Layout.astro";
import HeaderDos from "@/components/HeaderDos.astro";
import Footer from "@/components/Footer.astro";
import EquipoDos from "@/components/EquipoDos.astro";
import Directora from "@/components/Directora.astro";
---

<Layout
  title="Howard Gardner | Equipo de Trabajo"
  description="Es un jardín de educación infantil"
>
  <HeaderDos
    title="Nuestro Equipo de Trabajo"
    subtitle="El Talento y el Corazón detrás de Cada Sonrisa"
    description="Howard Gardner cuenta con un equipo interdisciplinario de docentes, psicologia y nutrición altamente calificado y comprometidos con la formación integral de cada niño, nuestro equipo garantiza no solo un aprendizaje significativo a través del juego, sino también el cuidado del bienestar emocional, social y físico de los niños. Más que profesionales, son guías apasionados que acompañan con amor, paciencia y creatividad cada etapa del desarrollo."
    left
    bgimg="/img/bg/headerSecondary.webp"
    phone
  />
  <main>
    <Directora />
    <EquipoDos />
  </main>

  <Footer />
</Layout>
