---
import Layout from "@/layouts/Layout.astro";
import HeaderDos from "@/components/HeaderDos.astro";
import Footer from "@/components/Footer.astro";
import NivelesDos from "@/components/NivelesDos.astro";
import CallToAction2 from "@/components/CallToAction2.astro";
---

<Layout
  title="Howard Gardner | Niveles Educativos"
  description="Es un jardín de educación infantil"
>
  <HeaderDos
    title="Nuestro Programa de Niveles Educativos"
    subtitle="Crecimiento y Aprendizaje en Cada Etapa"
    description="Brindamos una formación integral que acompaña a cada niño en su desarrollo con amor, juego y objetivos claros de aprendizaje. Nuestro enfoque combina pedagogía moderna, valores y cuidado personalizado, asegurando que cada pequeño descubra sus talentos, fortalezca su autoestima y desarrolle las habilidades necesarias para afrontar con seguridad los retos de la vida escolar y personal, ofreciendo experiencias llenas de amor."
    bgimg="/img/bg-header-secondary.webp"
    left
    phone
  />
  <main>
    <NivelesDos />
    <CallToAction2 />
  </main>

  <Footer />
</Layout>
