---
import Layout from "@/layouts/Layout.astro";
import HeaderDos from "@/components/HeaderDos.astro";
import Footer from "@/components/Footer.astro";
import NivelesDos from "@/components/NivelesDos.astro";
import CallToAction2 from "@/components/CallToAction2.astro";
import GaleryNiveles from "@/components/GaleryNiveles.astro";
---

<Layout
  title="Niveles Educativos - Jardín Infantil Howard Gardner | Párvulos, Jardín, Pre-Jardín y Jardín Avanzado en Bogotá, Castilla"
  description="Descubre los niveles educativos del Jardín Infantil Howard Gardner en Bogotá, Castilla: desde Párvulos (2-3 años) desarrollando motricidad y socialización, pasando por Pre Jardín (3-4 años) con experiencias lúdicas, hasta Jardín y Jardín Avanzado (4-5-años y 5 años) enfocados en creatividad, lectura, escritura y habilidades socioemocionales. Un entorno seguro y afectuoso donde tu hijo crece feliz. ¡Infórmate hoy!"
  image="/img/niveles/jardinAvanzadoHorizontal.webp"
>
  <HeaderDos
    title="Nuestro Programa de Niveles Educativos"
    subtitle="Crecimiento y Aprendizaje en Cada Etapa"
    description="Brindamos una formación integral que acompaña a cada niño en su desarrollo con amor, juego y objetivos claros de aprendizaje. Nuestro enfoque combina pedagogía moderna, valores y cuidado personalizado, asegurando que cada pequeño descubra sus talentos, fortalezca su autoestima y desarrolle las habilidades necesarias para afrontar con seguridad los retos de la vida escolar y personal, ofreciendo experiencias llenas de amor."
    bgimg="/img/bg/headerSecondary.webp"
    left
    phone
  />
  <main>
    <NivelesDos />
    <GaleryNiveles />
    <CallToAction2 />
  </main>

  <Footer />
</Layout>
