---
import Layout from "@/layouts/Layout.astro";
import HeaderDos from "@/components/HeaderDos.astro";
import NosotrosDos from "@/components/NosotrosDos.astro";
import CarruselMisionYVision from "@/components/CarruselMisionYVision.jsx";
import CallToAction2 from "@/components/CallToAction2.astro";
import Footer from "@/components/Footer.astro";
---

<Layout>
  <HeaderDos
    title="Formamos corazones y mentes felices"
    subtitle="Donde el Aprendizaje Nace del Corazón"
    description="A través del juego, el amor y la creatividad, ofrecemos experiencias significativas que despiertan la imaginación, promueven la autonomía y fomentan la curiosidad natural de cada niño."
    bgimg="/img/bg-header-primary.webp"
    phone
  />
  <main>
    <NosotrosDos />

    <section
      class="relative w-full max-w-6xl 2xl:max-w-[100rem]*/ mx-auto pb-20"
    >
      <CarruselMisionYVision client:load />
    </section>

    <CallToAction2 />
  </main>

  <Footer />
</Layout>
