<button
  id="scrollToTop"
  aria-label="Volver arriba"
  title="Volver arriba"
  class="fixed bottom-20 sm:bottom-26 right-3 sm:right-7 hidden p-3 rounded-full bg-secondary shadow-lg z-50 cursor-pointer hover:animate-heartbeat"
  style="animation-iteration-count: infinite;"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="currentColor"
    class="size-4 sm:size-7 fill-gray"
    ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
      d="M10.586 3l-6.586 6.586a2 2 0 0 0 -.434 2.18l.068 .145a2 2 0 0 0 1.78 1.089h2.586v5a1 1 0 0 0 1 1h6l.117 -.007a1 1 0 0 0 .883 -.993l-.001 -5h2.587a2 2 0 0 0 1.414 -3.414l-6.586 -6.586a2 2 0 0 0 -2.828 0z"
    ></path><path
      d="M15 20a1 1 0 0 1 .117 1.993l-.117 .007h-6a1 1 0 0 1 -.117 -1.993l.117 -.007h6z"
    ></path></svg
  >
</button>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const scrollBtn = document.getElementById("scrollToTop");

    if (!scrollBtn) return;

    // Mostrar el botón al hacer scroll hacia abajo
    window.addEventListener("scroll", () => {
      if (window.scrollY > 300) {
        scrollBtn.classList.remove("hidden");
        scrollBtn.classList.add("opacity-100");
      } else {
        scrollBtn.classList.add("hidden");
        scrollBtn.classList.remove("opacity-100");
      }
    });

    // Al hacer clic, subir suavemente
    scrollBtn.addEventListener("click", () => {
      window.scrollTo({
        top: 0,
        behavior: "smooth",
      });
    });
  });
</script>
