---
import Button from "./Button.astro";

const { phone } = Astro.props;
---

<div class="w-3/4 text-center mx-auto mt-20 mb-10">
  <h3
    class="animate-fade-in-up w-full text-4xl md:text-5xl fond-rakkas text-center uppercase font-bold text-accent font-rakkas"
  >
    Directora y Dueña
  </h3>
</div>

<section
  class="max-w-sm sm:max-w-lg md:max-w-2xl lg:max-w-4xl xl:max-w-5xl 2xl:max-w-7xl mx-auto w-full flex flex-col lg:flex-row gap-5 items-center justify-between mt-24 mb-30"
>
  <div class="relative w-full lg:w-1/2 flex justify-center mb-10 lg:mb-0">
    <img
      src="/img/profesores/directora.webp"
      alt="Foto Directora jardín"
      class="animate-blurred-fade-in rounded-lg w-full max-w-2xl h-[700px] xl:h-[850px] object-cover z-10"
    />
    <img
      src="/img/profesores/directora.webp"
      alt="Foto Directora jardín"
      class="animate-blurred-fade-in absolute top-0 rounded-lg w-full h-[700px] xl:h-[850px] object-cover opacity-70 blur-3xl z-0"
    />

    <div
      class="animateShakeCirculos1 absolute -top-[1rem] lg:top-[10rem] xl:top-[12rem] 2xl:top-[14rem] left-[20rem] sm:left-[26rem] md:left-[31rem] lg:left-[25rem] xl:left-[30rem] 2xl:left-[37rem] size-12 bg-secondary rounded-full z-40"
    >
    </div>
    <div
      class="animateShakeCirculos2 absolute top-[2rem] sm:top-[4rem] lg:top-[6rem] xl:top-[8rem] 2xl:top-[10rem] left-[17rem] sm:left-[24rem] md:left-[34rem] lg:left-[28rem] 2xl:left-[34rem] size-6 sm:size-8 bg-secondary rounded-full z-40"
    >
    </div>

    <div
      class="animate-zoom-in absolute bottom-[-50px] left-1/2 transform -translate-x-1/2 bg-gray-100 p-6 shadow-2xl rounded-md w-72 text-center z-20"
    >
      <h2 class="text-3xl font-light tracking-widest">Directora</h2>
      <p
        class="text-xl font-semibold uppercase tracking-wider font-rakkas text-primary pt-2"
      >
        Howard Gardner
      </p>
      <img
        src="/img/logo.webp"
        alt="Logo del Jardín"
        class="absolute h-28 w-30 lg:w-64 bottom-24 left-1/2 -translate-x-1/2 -traslate-y-1/2 z-10 object-contain"
      />
    </div>
  </div>

  <div class="relative w-full h-full lg:w-1/2 px-6 lg:px-12 py-14">
    <h3
      class="animate-fade-in-up md:my-2 text-lg md:text-xl lg:text-2xl font-bold text-primary"
    >
      ¡Más de 17 años formando con el corazón!
    </h3>
    <h2
      class="relative animate-fade-in-up my-5 text-4xl md:text-5xl lg:text-3xl xl:text-4xl 2xl:text-5xl font-rakkas"
    >
      Carol Johanna Castillo
      <div
        class="animateGrowupLinea absolute bottom-1.5 -z-10 h-[10px] w-0 bg-accent/80 rounded-r-lg"
      >
      </div>
    </h2>
    <p
      class="animate-fade-in-up text-letter sm:text-lg w-full 2xl:w-11/12 text-lg md:text-xl lg:text-base xl:text-xl text-center md:text-left font-medium mb-6"
    >
      Soy docente, directora y fundadora de este jardín, un sueño que nació del
      deseo de ofrecer a los niños un lugar donde se sientan amados, escuchados
      y felices. Llevo más de 17 años dedicando mi vida a la educación y al
      acompañamiento de los niños; cada día confirmo que enseñar con amor
      transforma vidas.
    </p>
    <p
      class="animate-fade-in-up text-letter sm:text-lg w-full 2xl:w-11/12 text-lg md:text-xl lg:text-base xl:text-xl text-center md:text-left font-medium mb-6"
    >
      Ver sus sonrisas, escuchar sus primeras palabras y ser parte de sus
      descubrimientos es mi mayor recompensa. Creo en una educación que abrace,
      que respete los ritmos de cada niño y que los invite a aprender con
      alegría, curiosidad y confianza.
    </p>

    <p
      class="animate-fade-in-up text-letter sm:text-lg w-full 2xl:w-11/12 text-lg md:text-xl lg:text-base xl:text-xl text-center md:text-left font-medium mb-6"
    >
      A lo largo de los años he tenido la fortuna de acompañar a muchas familias
      que comparten la misma convicción: "¡Educar es también cuidar, comprender
      y amar!". En nuestro jardín, cada niño es único, valorado y feliz; aquí
      crecen rodeados de cariño, respeto y ternura, como en casa. Mi compromiso
      es seguir formando con el corazón, guiando cada pequeño paso con paciencia
      y amor.
    </p>

    <div
      class="animateShakeCirculos3 absolute top-[68rem] sm:top-[50rem] md:top-[48rem] lg:top-[53rem] xl:top-[60rem] 2xl:top-[50rem] left-[20rem] sm:left-[27rem] lg:left-[22rem] xl:left-[29rem] 2xl:left-[36rem] size-9 bg-secondary rounded-full"
    >
    </div>
    <div
      class="animateShakeCirculos4 absolute top-[72rem] sm:top-[54rem] md:top-[46rem] lg:top-[52rem] xl:top-[64rem] 2xl:top-[54rem] left-[18rem] sm:left-[26rem] md:left-[22rem] lg:left-[25rem] xl:left-[26rem] 2xl:left-[32rem] size-4 bg-secondary rounded-full"
    >
    </div>

    <div
      class="animate-fade-in-up flex justify-center md:justify-start items-center gap-4"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="55"
        height="55"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="h-9 sm:h-12 md:h-14 stroke-accent"
      >
        <>
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"
          ></path>
          <path d="M15 7a2 2 0 0 1 2 2"></path>
          <path d="M15 3a6 6 0 0 1 6 6"></path>
        </>
      </svg>
      <div class="flex-col justify-center items-center gap-2">
        <p class="text-xl lg:text-3xl font-medium">Llamanos</p>
        <p class="text-accent text-xl lg:text-3xl font-black">301-874-45-47</p>
      </div>
    </div>
  </div>
</section>

<style>
  .animate-fade-in-up {
    animation-play-state: paused;
  }
  .animate-fade-in-up.play {
    animation-play-state: running;
    animation-duration: 1.5s;
  }

  .animate-blurred-fade-in {
    animation-play-state: paused;
  }
  .animate-blurred-fade-in.play {
    animation-play-state: running;
    animation-duration: 2s;
  }

  .animate-zoom-in {
    animation-play-state: paused;
  }

  .animate-zoom-in.play {
    animation-play-state: running;
    animation-duration: 2s;
    animation-delay: 1s;
  }

  .animateShakeCirculos1 {
    animation: shakeCirculos 5s ease-in-out infinite;
  }
  .animateShakeCirculos2 {
    animation: shakeCirculos 3s ease-in-out infinite;
    animation-delay: 300ms;
  }
  .animateShakeCirculos3 {
    animation: shakeCirculos 4s ease-in-out infinite;
    animation-delay: 600ms;
  }
  .animateShakeCirculos4 {
    animation: shakeCirculos 3s ease-in-out infinite;
  }

  .animateGrowupLinea {
    animation: growup 3s ease-in-out;
    animation-play-state: paused;
    animation-fill-mode: forwards;
  }

  .animateGrowupLinea.play {
    animation-play-state: running;
    animation-delay: 1.5s;
  }

  @keyframes shakeCirculos {
    0% {
      transform: translateX(0) translateY(0);
    }
    25% {
      transform: translateX(-10px) translateY(-10px);
    }

    50% {
      transform: translateX(10px);
    }
    75% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes growup {
    0% {
      width: 0%;
    }
    100% {
      width: 65%;
    }
  }
</style>

<script>
  import { observer } from "@/utils/observer";

  document
    .querySelectorAll(".animateGrowupLinea")
    .forEach((el) => observer.observe(el));

  document
    .querySelectorAll(".animate-fade-in-up")
    .forEach((el) => observer.observe(el));

  document
    .querySelectorAll(".animate-blurred-fade-in")
    .forEach((el) => observer.observe(el));

  document
    .querySelectorAll(".animate-zoom-in")
    .forEach((el) => observer.observe(el));
</script>
