---
import Button from "@/components/Button.astro";

const menu = [
  {
    name: "Servicios",
    url: "/servicios",
  },
  {
    name: "Niveles",
    url: "/niveles",
  },
  {
    name: "Nosotros",
    url: "/nosotros",
  },
  {
    name: "Equipo",
    url: "/equipo",
  },
  {
    name: "Testimonios",
    url: "/testimonios",
  },
  {
    name: "Contacto",
    url: "/contacto",
  },
  /*{
    name: "Login",
    url: "http://localhost:4200/login",
  },*/
];
---

<nav
  class="w-full max-w-sm sm:max-w-lg md:max-w-2xl lg:max-w-4xl xl:max-w-5xl 2xl:max-w-7xl mx-auto flex items-center justify-between py-3 relative z-20"
>
  <a
    href="/"
    class="transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110"
  >
    <img
      src="/img/logo.webp"
      alt="logo jardin"
      class="animate-swing-drop-in h-30 w-30 lg:w-70 object-contain"
    />
  </a>

  <div class="hidden lg:flex justify-between items-center w-full">
    <ul class="flex">
      {
        menu.map((item) => (
          <li>
            <a
              href={item.url}
              class="text-lg capitalize font-bold m-5 hover:text-accent-700 transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110"
            >
              {item.name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>

  <div class="flex justify-end items-center w-full gap-4">
    <Button text="Admiciones" url="/admiciones" />

    <button
      id="menuNavMobileBut"
      aria-label="mobile menu"
      class="block lg:hidden cursor-pointer transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="128.13"
        height="128"
        viewBox="0 0 1025 1024"
        class="fill-primary hover:fill-secondary size-8 sm:size-10"
        ><path
          d="M896.428 640h-768q-53 0-90.5-37.5T.428 512t37.5-90.5t90.5-37.5h768q53 0 90.5 37.5t37.5 90.5t-37.5 90.5t-90.5 37.5m0-384h-768q-53 0-90.5-37.5T.428 128t37.5-90.5t90.5-37.5h768q53 0 90.5 37.5t37.5 90.5t-37.5 90.5t-90.5 37.5m-768 512h768q53 0 90.5 37.5t37.5 90.5t-37.5 90.5t-90.5 37.5h-768q-53 0-90.5-37.5T.428 896t37.5-90.5t90.5-37.5"
        ></path></svg
      >
    </button>
  </div>
</nav>

<nav
  id="menuNavMobile"
  class="lg:hidden flex flex-col justify-start items-center
    h-screen w-screen z-50 pt-10
    absolute top-0 left-0
    bg-white
    -translate-y-[120vh] duration-700"
>
  <div class="flex flex-col justify-center items-center w-full">
    <a
      href="/"
      class="text-lg capitalize font-bold m-5 hover:text-accent-700 transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110"
    >
      <img
        src="/img/logo.webp"
        alt="logo jardin"
        class="h-30 w-30 lg:w-70 object-contain"
      />
    </a>
    {
      menu.map((item) => (
        <a
          href={item.url}
          class="text-lg capitalize font-bold m-5 hover:text-accent-700 transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110"
        >
          {item.name}
        </a>
      ))
    }
  </div>
</nav>

<style>
  .animate-swing-drop-in {
    animation-play-state: paused;
  }
  .animate-swing-drop-in.play {
    animation-play-state: running;
    animation-duration: 1s;
  }
</style>

<script>
  import { observer } from "@/utils/observer";

  document
    .querySelectorAll(".animate-swing-drop-in")
    .forEach((el) => observer.observe(el));
</script>

<script>
  var isNavOpen = false;
  const but = document.querySelector("#menuNavMobileBut");
  const menu = document.querySelector("#menuNavMobile");
  const menuHideClasses = "-translate-y-[120vh]";

  const handleNav = () => {
    if (isNavOpen) {
      menu?.classList.toggle(menuHideClasses);
      isNavOpen = false;
    } else {
      menu?.classList.toggle(menuHideClasses);
      isNavOpen = true;
    }
  };

  but?.addEventListener("click", handleNav);
</script>
