---
import CarruselTestimonios from "./CarruselTestimonios.jsx";
---

<section class="relative w-full py-24">
  <div class="absolute left-1/2 -translate-x-1/2 -top-12 w-full h-[50px]">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="100%"
      viewBox="0 0 283.5 27.8"
      preserveAspectRatio="xMidYMax slice"
      class="fill-white w-full rotate-180"
    >
      <path
        d="M0 0v1.4c.6.7 1.1 1.4 1.4 2 2 3.8 2.2 6.6 1.8 10.8-.3 3.3-2.4 9.4 0 12.3 1.7 2 3.7 1.4 4.6-.9 1.4-3.8-.7-8.2-.6-12 .1-3.7 3.2-5.5 6.9-4.9 4 .6 4.8 4 4.9 7.4.1 1.8-1.1 7 0 8.5.6.8 1.6 1.2 2.4.5 1.4-1.1.1-5.4.1-6.9.1-3.7.3-8.6 4.1-10.5 5-2.5 6.2 1.6 5.4 5.6-.4 1.7-1 9.2 2.9 6.3 1.5-1.1.7-3.5.5-4.9-.4-2.4-.4-4.3 1-6.5.9-1.4 2.4-3.1 4.2-3 2.4.1 2.7 2.2 4 3.7 1.5 1.8 1.8 2.2 3 .1 1.1-1.9 1.2-2.8 3.6-3.3 1.3-.3 4.8-1.4 5.9-.5 1.5 1.1.6 2.8.4 4.3-.2 1.1-.6 4 1.8 3.4 1.7-.4-.3-4.1.6-5.6 1.3-2.2 5.8-1.4 7 .5 1.3 2.1.5 5.8.1 8.1s-1.2 5-.6 7.4c1.3 5.1 4.4.9 4.3-2.4-.1-4.4-2-8.8-.5-13 .9-2.4 4.6-6.6 7.7-4.5 2.7 1.8.5 7.8.2 10.3-.2 1.7-.8 4.6.2 6.2.9 1.4 2 1.5 2.6-.3.5-1.5-.9-4.5-1-6.1-.2-1.7-.4-3.7.2-5.4 1.8-5.6 3.5 2.4 6.3.6 1.4-.9 4.3-9.4 6.1-3.1.6 2.2-1.3 7.8.7 8.9 4.2 2.3 1.5-7.1 2.2-8 3.1-4 4.7 3.8 6.1 4.1 3.1.7 2.8-7.9 8.1-4.5 1.7 1.1 2.9 3.3 3.2 5.2.4 2.2-1 4.5-.6 6.6 1 4.3 4.4 1.5 4.4-1.7 0-2.7-3-8.3 1.4-9.1 4.4-.9 7.3 3.5 7.8 6.9.3 2-1.5 10.9 1.3 11.3 4.1.6-3.2-15.7 4.8-15.8 4.7-.1 2.8 4.1 3.9 6.6 1 2.4 2.1 1 2.3-.8.3-1.9-.9-3.2 1.3-4.3 5.9-2.9 5.9 5.4 5.5 8.5-.3 2-1.7 8.4 2 8.1 6.9-.5-2.8-16.9 4.8-18.7 4.7-1.2 6.1 3.6 6.3 7.1.1 1.7-1.2 8.1.6 9.1 3.5 2 1.9-7 2-8.4.2-4 1.2-9.6 6.4-9.8 4.7-.2 3.2 4.6 2.7 7.5-.4 2.2 1.3 8.6 3.8 4.4 1.1-1.9-.3-4.1-.3-6 0-1.7.4-3.2 1.3-4.6 1-1.6 2.9-3.5 5.1-2.9 2.5.6 2.3 4.1 4.1 4.9 1.9.8 1.6-.9 2.3-2.1 1.2-2.1 2.1-2.1 4.4-2.4 1.4-.2 3.6-1.5 4.9-.5 2.3 1.7-.7 4.4.1 6.5.6 1.5 2.1 1.7 2.8.3.7-1.4-1.1-3.4-.3-4.8 1.4-2.5 6.2-1.2 7.2 1 2.3 4.8-3.3 12-.2 16.3 3 4.1 3.9-2.8 3.8-4.8-.4-4.3-2.1-8.9 0-13.1 1.3-2.5 5.9-5.7 7.9-2.4 2 3.2-1.3 9.8-.8 13.4.5 4.4 3.5 3.3 2.7-.8-.4-1.9-2.4-10 .6-11.1 3.7-1.4 2.8 7.2 6.5.4 2.2-4.1 4.9-3.1 5.2 1.2.1 1.5-.6 3.1-.4 4.6.2 1.9 1.8 3.7 3.3 1.3 1-1.6-2.6-10.4 2.9-7.3 2.6 1.5 1.6 6.5 4.8 2.7 1.3-1.5 1.7-3.6 4-3.7 2.2-.1 4 2.3 4.8 4.1 1.3 2.9-1.5 8.4.9 10.3 4.2 3.3 3-5.5 2.7-6.9-.6-3.9 1-7.2 5.5-5 4.1 2.1 4.3 7.7 4.1 11.6 0 .8-.6 9.5 2.5 5.2 1.2-1.7-.1-7.7.1-9.6.3-2.9 1.2-5.5 4.3-6.2 4.5-1 7.7 1.5 7.4 5.8-.2 3.5-1.8 7.7-.5 11.1 1 2.7 3.6 2.8 5 .2 1.6-3.1 0-8.3-.4-11.6-.4-4.2-.2-7 1.8-10.8 0 0-.1.1-.1.2-.2.4-.3.7-.4.8v.1c-.1.2-.1.2 0 0v-.1l.4-.8c0-.1.1-.1.1-.2.2-.4.5-.8.8-1.2V0H0zM282.7 3.4z"
      ></path>
    </svg>
  </div>

  <div
    class="max-w-sm sm:max-w-lg md:max-w-2xl lg:max-w-4xl xl:max-w-5xl 2xl:max-w-7xl mx-auto w-full"
  >
    <div class="flex justify-center">
      <div class="animateSlideInRight relative w-2/12 xl:w-1/3">
        <img
          class="absolute h-28 sm:h-36 md:h-44 2xl:h-80 right-2 xl:right-44 mt-0 xl:-mt-20"
          src="/img/blob/VectorVerde.png"
          alt="fondo verde"
        />
        <img
          class="absolute z-10 h-30 sm:h-40 md:h-52 2xl:h-80 right-4 xl:right-48 rotate-45 -mt-0 xl:-mt-24"
          src="/img/personajes/fotoWazowskiTestimonios.webp"
          alt="imagen de wazowski"
        />
      </div>
      <div class="w-10/12 xl:w-2/3">
        <h3
          class="animate-fade-in-up mx-1 xl:mx-5 my-1 xl:my-6 text-center text-lg sm:text-xl font-bold text-secondary"
        >
          ¡Aprender es una aventura!
        </h3>
        <h2
          class="animate-fade-in-up mx-1 xl:mx-5 my-3 xl:my-6 w-full text-center text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-rakkas"
        >
          ¿Qué dicen los padres de nosotros?
        </h2>
        <p
          class="animate-fade-in-up mx-1 xl:my-6 w-full text-center text-md sm:text-lg font-medium text-letter"
        >
          Estos testimonios son la expresión de los pensamientos positivos que
          los padres de nuestros niños tienen sobre nuestro jardín Howard
          Gardner. Agradecemos sinceramente cada uno de sus comentarios y
          valoraciones, los cuales nos ayudan a comprender el impacto del jardin
          en sus vidas y en sus niños.
        </p>
      </div>
      <div class="animateSlideInLeft relative hidden xl:block w-1/3">
        <img
          class="absolute h-80 left-28 2xl:left-32 -z-50"
          src="/img/blob/vectorNaranjaOscuro.png"
          alt="fondo naranja claro"
        />
        <img
          class="absolute z-50 h-72 left-28 2xl:left-32"
          src="/img/personajes/fotoSullivanTestimonios.webp"
          alt="imagen de sollivan"
        />
      </div>
    </div>
  </div>

  <div
    class="animate-zoom-in max-w-sm sm:max-w-lg md:max-w-2xl lg:max-w-4xl xl:max-w-5xl 2xl:max-w-7xl mx-auto w-full my-14 xl:my-20"
  >
    <CarruselTestimonios client:load />
  </div>
</section>

<style>
  .animateSlideInLeft,
  .animateSlideInRight {
    opacity: 0;
  }
  .animateSlideInLeft.play {
    animation: animateSlideInLeft 2s ease-in forwards;
    animation-delay: 1s;
  }

  .animateSlideInRight.play {
    animation: animateSlideInRight 2s ease-in forwards;
    animation-delay: 1s;
  }

  .animate-fade-in-up {
    animation-play-state: paused;
  }
  .animate-fade-in-up.play {
    animation-play-state: running;
    animation-duration: 1.5s;
  }

  .animate-zoom-in {
    animation-play-state: paused;
  }
  .animate-zoom-in.play {
    animation-play-state: running;
    animation-duration: 2s;
  }
</style>

<script>
  import { observer } from "@/utils/observer";

  document
    .querySelectorAll(".animate-fade-in-up")
    .forEach((el) => observer.observe(el));

  document
    .querySelectorAll(".animateSlideInLeft")
    .forEach((el) => observer.observe(el));

  document
    .querySelectorAll(".animate-zoom-in")
    .forEach((el) => observer.observe(el));
</script>
