---
import "@/styles/global.css";
import "@fontsource/rakkas";
import "@fontsource-variable/inter";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/img/logo.webp" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  @keyframes animateSlideInLeft {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes animateSlideInRight {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes rotate180 {
    0% {
      opacity: 0;
      transform: rotate(0deg);
    }
    3% {
      opacity: 1;
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
